@font-face {
  font-family: "Circular";
  src: url("/fonts/circular-book.woff2") format("woff2"), url("/fonts/circular-medium.woff2") format("woff2"),
    url("/fonts/circular-bold.woff2") format("woff2");
}

* {
  text-transform: unset !important;
  font-family: Circular, sans-serif !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
